* {
margin: 5px;
padding: 0;
box-sizing: border-box;
}


.leader-board {
    list-style-type: upper-roman;
}


.hide {
    display: none;
}
.answer {
height: 30px;
width: 500px;
margin: 5px;
background-color: blueviolet;
color: white;
}

.answer-button{
    background-color: rgb(59, 196, 196);
    width: 200px;
    font-size: large;
    margin: 5px;
}



button:hover {
opacity: 0.5;


}

#answers {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
    padding: 5px;
    margin: 15px;
    
}

li {
    list-style-type: upper-alpha;
}

