* {
margin: 0;
padding: 0;
box-sizing: border-box;
}


.hide {
    display: none;
}
.answer {
height: 30px;
width: 500px;
margin: 5px;
background-color: blueviolet;
color: white;
}

button:hover {
opacity: 0.5;
}

#answers {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: left;
   
    
}